.banner {
    background-image: url(../../assets/images/bg_1.jpg);
    height: 300px;
    width: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #f1453d;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.text h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins',Arial,sans-serif;
}
.contact-section {
    padding: 7em 0;
    position: relative;
    display: block;
    font-family: 'Poppins',Arial,sans-serif;
    color: #666;
}

.container {
    width: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-section .box {
    display: block;
    height: 10rem;
}

.bg-light {
    background: #fafafa!important;
}

.text-center {
    text-align: center!important;
}

.p-4 {
    padding: 1.5rem!important;
}

.align-self-stretch {
    -ms-flex-item-align: stretch!important;
    -ms-grid-row-align: stretch!important;
    align-self: stretch!important;
}

.contact-section .box h3 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(0,0,0,.8);
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.contact-section p a {
    color: #1a1a1a;
}

a {
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 910px) {
    .card {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 21%;
        flex: 0 0 21%;
        max-width: 23%;
    }
}

@media (max-width: 750px) {    
    .text h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 200px) and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}
