._container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

._card {
    width: 95%;
    margin-bottom: 1rem;
}

._date {
    color: #6f6f6f;
    border-bottom: 1px dotted #ccc;
}
._event {
    padding-top: 0.5rem;
}

h3 {
    margin: 0 0 0.5rem 0;
    color: #248bd3;
}

p {
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
}

@media (max-width: 740px) {
    ._card {
        width: 45%;
    }
}


@media (max-width: 560px) {
    ._card {
        width: 80%;
    }
}