<section class="events">
    <div class="container">
        <h2>Upcoming events</h2>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">15</p>
            </div>
            <div class="info">
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">17</p>
            </div>
            <div class="info">
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">25</p>
            </div>
            <div class="info">
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">29</p>
            </div>
            <div class="info">
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
                <a class="more" href="#">Read more</a>
            </div>
        </article>
        <div class="btn-holder">
            <a class="btn blue" href="#">See all upcoming events</a>
        </div>
    </div>
    <!-- / container -->
</section>