<div class="container">
    <div class="content">
        <div>
            <h1>Admission Process</h1>
        </div>
        <div>
            <h3>Step 1</h3>
        </div>
        <div>
            <p>The School Prospectus and the Student Admission Form can be
                purchased from the School Office at any branch of Shivom
                Vidyapeeth.</p>
        </div>
        <div>
            <h3>Step 2</h3>
        </div>
        <div>
            <p>Parents have to fill in the Student Admission Form with exact
                details along with required attachments and submit at the
                Admissions Office.</p>
        </div>
        <div>
            <p>List of things required for taking admission:</p>
            <span class="list"><div class="circle"></div><p>Copy of Birth certificate, Aadhar Card of student</p></span>
            <span class="list"><div class="circle"></div><p>Copy of Caste certificate (for SC / ST / OBC) of father / student</p></span>
            <span class="list"><div class="circle"></div><p>3 recent passport size color photographs of student</p></span>
            <span class="list"><div class="circle"></div><p>Copy of last class pass mark sheet of student</p></span>
            <span class="list"><div class="circle"></div><p>Original Transfer Certificate (TC)</p></span>
            <span class="list"><div class="circle"></div><p>Parent’s photographs and id proof</p></span>
            <span class="list"><div class="circle"></div><p>Original certificates (only during verification period)</p></span>
        </div>
        <div>
            <h3>Step 3</h3>
        </div>
        <div>
            <p>Cross checking of the documents will be done by the Admissions
                Officer. This will be followed by a meeting with the Principal.
            </p>
        </div>
        <div>
            <h3>Step 4</h3>
        </div>
        <div>
            <p>For the child’s admission, both the parents and the child are
                required to come to the Admission Office for an interaction with
                the admission in charge.</p>
        </div>
        <div>
            <h3>Step 5</h3>
        </div>
        <div>
            <p>Once the admission is confirmed, the parents will complete other
                admission related formalities. Fee can be paid by cheque / cash
                / card / online payment.</p>
        </div>
        <div class="note">
            <p>
                <strong>NOTE</strong> : The admission shall be considered
                provisional until all the required documents are submitted. All
                the necessary documents must be submitted in the school for
                admission.
            </p>
        </div>
    </div>
</div>