<div class="container">
    <h2>Fees Structure</h2>
    <table class="rg-table">
        <thead>
            <tr>
                <th>Class</th>
                <th>Computer Annual</th>
                <th>Lab/Lib Annual</th>
                <th>Tuition Fee Annual</th>
                <th>Grand Total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    I </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    - </td>
                <td class="" data-title="Tuition Fee Annual">
                    30000 </td>
                <td class="" data-title="Grand Total">
                    31000 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    II </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    - </td>
                <td class="" data-title="Tuition Fee Annual">
                    30000 </td>
                <td class="" data-title="Grand Total">
                    31000 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    III </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    - </td>
                <td class="" data-title="Tuition Fee Annual">
                    30500 </td>
                <td class="" data-title="Grand Total">
                    31500 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    IV </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    - </td>
                <td class="" data-title="Tuition Fee Annual">
                    30500 </td>
                <td class="" data-title="Grand Total">
                    31500 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    V </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    - </td>
                <td class="" data-title="Tuition Fee Annual">
                    31500 </td>
                <td class="" data-title="Grand Total">
                    32500 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    VI </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    1000 </td>
                <td class="" data-title="Tuition Fee Annual">
                    31500 </td>
                <td class="" data-title="Grand Total">
                    33500 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    VII </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    1000 </td>
                <td class="" data-title="Tuition Fee Annual">
                    31500 </td>
                <td class="" data-title="Grand Total">
                    33500 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    VIII </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    1000 </td>
                <td class="" data-title="Tuition Fee Annual">
                    31500 </td>
                <td class="" data-title="Grand Total">
                    33500 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    IX </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    1000 </td>
                <td class="" data-title="Tuition Fee Annual">
                    35000 </td>
                <td class="" data-title="Grand Total">
                    37000 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    X </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    1000 </td>
                <td class="" data-title="Tuition Fee Annual">
                    35000 </td>
                <td class="" data-title="Grand Total">
                    37000 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    XI </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    1000 </td>
                <td class="" data-title="Tuition Fee Annual">
                    37000 </td>
                <td class="" data-title="Grand Total">
                    39000 </td>
            </tr>
            <tr class="">
                <td class="column-highlight" data-title="Class">
                    XII </td>
                <td class="" data-title="Computer Annual">
                    1000 </td>
                <td class="" data-title="Lab/Lib Annual">
                    1000 </td>
                <td class="" data-title="Tuition Fee Annual">
                    37000 </td>
                <td class="" data-title="Grand Total">
                    39000 </td>
            </tr>
        </tbody>
    </table>
</div>