<div class="main-content">
    <h1>Upcoming events</h1>
    <section class="posts-con">
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">15</p>
            </div>
            <div class="info">
                <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>
                <p class="info-line"><span class="time">10:30 AM</span><span class="place">Lincoln High School</span></p>
                <p class="content">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">17</p>
            </div>
            <div class="info">
                <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>
                <p class="info-line"><span class="time">10:30 AM</span><span class="place">Lincoln High School</span></p>
                <p class="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </article>
        <article>
            <div class="current-date">
                <p>April</p>
                <p class="date">25</p>
            </div>
            <div class="info">
                <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>
                <p class="info-line"><span class="time">10:30 AM</span><span class="place">Lincoln High School</span></p>
                <p class="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </article>
        <article class="last">
            <div class="current-date">
                <p>April</p>
                <p class="date">29</p>
            </div>
            <div class="info">
                <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>
                <p class="info-line"><span class="time">10:30 AM</span><span class="place">Lincoln High School</span></p>
                <p class="content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
        </article>
    </section>
</div>