<div class="row">
  <div class="column">
    <img src="../../assets/images/wedding.jpg" (click)="openImage('../../assets/images/wedding.jpg')">
    <img src="../../assets/images/rocks.jpg"  >
    <img src="../../assets/images/falls2.jpg"  >
    <img src="../../assets/images/paris.jpg"  >
    <img src="../../assets/images/nature.jpg"  >
    <img src="../../assets/images/mist.jpg"  >
    <img src="../../assets/images/paris.jpg"  >
  </div>
  <div class="column">
    <img src="../../assets/images/underwater.jpg"  >
    <img src="../../assets/images/ocean.jpg"  >
    <img src="../../assets/images/wedding.jpg"  >
    <img src="../../assets/images/mountainskies.jpg"  >
    <img src="../../assets/images/rocks.jpg"  >
    <img src="../../assets/images/underwater.jpg"  >
  </div>
  <div class="column">
    <img src="../../assets/images/wedding.jpg"  >
    <img src="../../assets/images/rocks.jpg"  >
    <img src="../../assets/images/falls2.jpg"  >
    <img src="../../assets/images/paris.jpg"  >
    <img src="../../assets/images/nature.jpg"  >
    <img src="../../assets/images/mist.jpg"  >
    <img src="../../assets/images/paris.jpg"  >
  </div>
  <div class="column">
    <img src="../../assets/images/underwater.jpg"  >
    <img src="../../assets/images/ocean.jpg"  >
    <img src="../../assets/images/wedding.jpg"  >
    <img src="../../assets/images/mountainskies.jpg"  >
    <img src="../../assets/images/rocks.jpg"  >
    <img src="../../assets/images/underwater.jpg"  >
  </div>
  <div class="modal" [ngClass]="'state'?'modalOn':'modalOff'">
    <span class="close" (click)="closeModal()">&times;</span>
    <img src={{src}} class="modal-content">
  </div>
</div>